<nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">TA-App</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a routerLink="home">Home</a></li>
            <li><a routerLink="aboutus">Aboutus</a></li>
            <li><a href="">SOME</a></li>
            <li><a href="">Events</a></li>
          </ul>
        </div>
    </nav>


<div>
  <router-outlet></router-outlet>
  <app-user-overview></app-user-overview>
  <app-classbinding></app-classbinding>
  <app-styleb></app-styleb>
  <app-eventb></app-eventb>
  <app-twowaydatab></app-twowaydatab>
  <app-templateref></app-templateref>
  <app-ngf></app-ngf>
</div>
